<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>200</integer>
	<key>data</key>
	<array>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>239</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>三级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>4.A大调与#f小调</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>1</integer>
			<key>id</key>
			<integer>1014</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>约翰汤普森简易钢琴教程1</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>19.把我带回弗吉尼故乡</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>321</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>八级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>7.三度双音练习曲(Op.740 N.10)</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>1</integer>
			<key>id</key>
			<integer>318</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>八级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>4.bA大调与f小调</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>230</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>三级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>10.康定情歌</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1094</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>约翰汤普森简易钢琴教程3</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>4.有些人</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1097</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>约翰汤普森简易钢琴教程3</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>7.日出</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>869</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>巴赫初级钢琴曲集</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>7.小步舞曲</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>800</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>巴赫-英国组曲</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>第一组曲 2.阿勒芒德舞曲</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1592</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>车尔尼钢琴快速练习曲 作品299</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>6</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>2</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>上海音乐学院2020</string>
			<key>material_or_level</key>
			<string>一级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>2.G大调波罗乃兹舞曲</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>213</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>一级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>6.练习曲 尼古拉耶夫</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>259</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>四级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>8.练习曲（Op.453 No.55）</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>205</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>一级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>1.C大调</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>248</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>四级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>12.小步舞曲（选自《二法国组曲》四首）</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>212</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>一级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>5.练习曲（No.60）拜厄</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>43</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>上海音乐家协会</string>
			<key>material_or_level</key>
			<string>四级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>采茶扑蝶</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>211</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>一级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>4.旋律与伴奏练习曲 车尔尼</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1064</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>约翰汤普森简易钢琴教程2</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>6.十个小印第安人</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1560</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>车尔尼钢琴快速练习曲 作品299</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>13</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1595</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>车尔尼钢琴快速练习曲 作品299</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>9</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1591</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>车尔尼钢琴快速练习曲 作品299</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>5</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>809</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>巴赫-英国组曲</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>第三组曲 2.阿勒芒德舞曲</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>287</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>六级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>4.bA大调与f小调</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>278</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>六级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>10.布列舞曲(选自《第二英国组曲》)</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>292</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>六级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>9.分解琶音练习曲</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>291</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>六级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>8.练习曲(Op.299 No.6)</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>304</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>中国音乐家协会</string>
			<key>material_or_level</key>
			<string>七级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>5.E大调与#c小调</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>1065</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>经典教材</string>
			<key>material_or_level</key>
			<string>约翰汤普森简易钢琴教程2</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>7.钟声响了</string>
		</dict>
		<dict>
			<key>collection</key>
			<integer>0</integer>
			<key>id</key>
			<integer>52</integer>
			<key>is_audio</key>
			<integer>1</integer>
			<key>material</key>
			<string>上海音乐家协会</string>
			<key>material_or_level</key>
			<string>七级</string>
			<key>musical</key>
			<string>钢琴</string>
			<key>scores_name</key>
			<string>练习曲</string>
		</dict>
	</array>
	<key>message</key>
	<string></string>
	<key>state</key>
	<integer>-1</integer>
</dict>
</plist>
